In [6]:
import pandas as pd
import numpy as np

In [9]:
train = pd.read_csv("/Users/lampt2/github/LeadQualifier/xeneta_dataset/train.csv", header=None)

In [10]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000
0,1,0,0,0,0,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,0
1,0,0,0,0,0,0.006401,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,0
2,0,0,0,0,0,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,0
3,1,0,0,0,0,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0.016872,0
4,1,0,0,0,0,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0.000000,0

In [11]:
test = pd.read_csv("/Users/lampt2/github/LeadQualifier/xeneta_dataset/test.csv", header=None)

In [12]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
y_test = test[0].values
X_test = test[list(np.arange(1,5001))].values

In [47]:
print X_test.shape, y_test.shape

(664, 5000) (664,)

In [13]:
train.describe()

,0,1,2,3,4,5,6,7,8,9,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000
count,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,...,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000
mean,0.581125,0.000040,0.000132,0.000093,0.000086,0.000121,0.000218,0.000055,0.000086,0.000071,...,0.000182,0.000158,0.000088,0.000099,0.000137,0.000081,0.000142,0.000067,0.000137,0.000163
std,0.493534,0.000780,0.001710,0.002584,0.003377,0.001238,0.001626,0.000887,0.001060,0.001903,...,0.002470,0.001466,0.000937,0.003889,0.002421,0.003183,0.004052,0.001831,0.002011,0.004662
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,0.022244,0.026252,0.071890,0.132810,0.028194,0.019031,0.019752,0.019089,0.065314,...,0.058673,0.021529,0.015596,0.152977,0.081554,0.125208,0.134783,0.069073,0.047034,0.179299

In [14]:
from sklearn.utils.extmath import density

In [16]:
labels = train[0].values

In [24]:
X = train[list(np.arange(1,5001))].values

In [26]:
density(X)

0.012805946994182289

In [27]:
np.sum(labels) * 1. / len(labels)

0.58112475759534588

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier

from sklearn.cross_validation import cross_val_score, KFold
from sklearn import metrics

import seaborn as sns
import matplotlib.pyplot as plt

sns.set();
%matplotlib inline

In [34]:
import warnings

In [35]:
warnings.filterwarnings('ignore')

In [53]:
from sklearn.linear_model import SGDClassifier

In [63]:
%%time

sgd = SGDClassifier(n_iter=500, loss='modified_huber', penalty='elasticnet')

sgd.fit(X, labels)

CPU times: user 32.5 s, sys: 127 ms, total: 32.6 s
Wall time: 32.7 s

In [64]:
y_pred = sgd.predict(X_test)
print metrics.accuracy_score(y_test, y_pred)
print metrics.classification_report(y_test, y_pred)
print metrics.confusion_matrix(y_test, y_pred)

0.881024096386
             precision    recall  f1-score   support

        0.0       0.88      0.82      0.85       265
        1.0       0.88      0.92      0.90       399

avg / total       0.88      0.88      0.88       664

[[216  49]
 [ 30 369]]